# Station location
FEEDER_LAT=40.130621
FEEDER_LONG=-105.177297
FEEDER_ALT_M=1524
FEEDER_TZ=America/Denver

# RadarBox (sign up at radarbox.com/sharing-data to get key)
# RADARBOX_SHARING_KEY=

# Flightradar24 (run: docker exec -it ultrafeeder fr24feed --signup)
# FR24_SHARING_KEY=

# FlightAware (sign up at flightaware.com/adsb/piaware)
# PIAWARE_FEEDER_ID=
